services:
    postgres:
        image: postgres:17-bookworm
        restart: always
        ports:
            - 5432:5432
        volumes:
            - ./volume/postgres:/var/lib/postgresql/data
        environment:
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_DB: ${POSTGRES_DB}
    traefik:
        image: "traefik:v3.3"
        restart: always
        container_name: traefik
        command:
            - "--entrypoints.web.address=:3000"
            - "--providers.file.filename=/dynamic.yml"
            - "--providers.file.watch=true"
            - "--log.level=DEBUG"
            - "--api.insecure=true"
        ports:
            - "3000:3000"
            # - "8080:8080"  # Traefik dashboard (optional)
        volumes:
            - "./deployments/dev/traefik-dynamic.yml:/dynamic.yml:ro"
        extra_hosts:
          - "host.docker.internal:host-gateway"
